<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find stero_mobile_init)/launch/tiago_simple.launch">
        <arg name="world" value="korytarz"/>
    </include>
    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find stero_mobile_init)/maps/korytarz.yaml"/>
    <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" output="screen" args="0 0 0 0 0 0 map odom 100"/>
</launch>